-# in app/views/movies/find_by_director.html.haml

%h1 Similar movies to #{@movie.title} directed by #{@movie.director}

%table#movies
  %thead
    %tr
      %th Movie TItle
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do|movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
= link_to 'Back to movies', movies_path
